/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ul {
    list-style: none;
}
/* End of Reset */

/* Grid Framework */

*, *:before, *:after {
  box-sizing: border-box;}

.grid {
  width: 100%;
  max-width: 1200px;
  padding: 0 1em;
  margin: 0;
}

.grid, .row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="col"]:last-child {
  margin-right: 0;
}

.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}

.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

@media all and (max-width: 768px) {
  [class*="offset"] {
    margin-left: 0;
  }
  [class*="col"] {
    width: 100%;
    margin-bottom: 1em;
  }
  .row {
    margin: 0;
  }
}

/* Styles Start Here */

body {
    font-family: 'Open Sans', 
    sans-seif;
background-color:#111;


}

.top {
    width: 100%;
    z-index:9998;
    position:fixed;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;


}

.container {
    width: 100%;
    max-width: 100%;
    padding: 20px 28px !important;

}

.logo  {
    z-index: 10;
    position: absolute;
}

.navigation {
    text-align: center !important;
    width: 100%;
    left: 0;
    padding-top: 8px;
    padding-bottom: 25px;
    font-size: 13px;
    font-weight: 300;
}

.links > li {
    float: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    color: #a99484;
}

.links > li:hover {
    cursor: pointer;
    color: #a99484;  
}

.headline {
    margin-left: -10px;
    padding: 144px 122px;
    margin-top: 90px;

}

.headline > h2 {
    font-family: 'Halant', georgia, serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
    opacity: 0.7;
  color:white;
}

.headline > p {
  font-family: 'Open Sans', verdana, 
  sans-seif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color:white;
}

.headline a:hover {
  color: #a99484;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

.headline a {
  cursor: pointer;
  color: #a99484;
  font-style: italic;
  text-decoration: none;
}

/* Styles for Portfolio image one Height determins
the size of the colum (column contains 2 images )*/

.work {
  height:;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  max-width: 100%;

}

/* Width of the left 6 col grid did not 
fill the entire container there was 
still room.. so to fill that room the 
width was increased by 2.8% 
---
height 732px helps keep the right container (specifically bottom right)
at the specified height so that the scroll bar at the top fits nicely with all images. Width helps the images expand to the edge of the page.*/

.portfolio-items, 
.portfolio-items-two {
  width:  103.1%;
  overflow:hidden;
  height:800px;
  cursor: pointer;
}


.work-item, .style-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 138px;

}
/* Porfolio Description */

.work-item h2 {
  position: relative;
  font-family: 'Open Sans',verdana,
  sans-seif;
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  padding-bottom: 12px;

}

.work-item p {
  font-family: 'Halant',georgia,serif;
  color:white;
  position:relative;
  
}

.work-item a {
  text-decoration: none;
  cursor:pointer;
  color:white;
}

/* Portfolio Image Background */

.work-item {
  background-image: 
  url(http://i62.tinypic.com/33vzz7r.jpg);
  width:100%;
  height:400px;
  background-position:center;
  background-size:cover;
}


/* Setting the overlay and hover for the 
html image */

.tester {
 height:400px;
 width:100%;
 opacity:.2;
 
}

.tester:hover {
  opacity:0.0;
  width:100%;
  height:400px;
  overflow:hidden;
  
}


/* Styles for second portfolio image */

.items-two, .items-three {
  width:100%;
  overflow:hidden;
  height:400px;
  position:absolute;


}

/* New Code Copy and Paste from here */


/* Portfolio Image-2 */

.items-two {
  background-image: 
  url(http://i57.tinypic.com/erzxnm.jpg);
  width:100%;
  height:400px;
  background-position:center;
  background-size:cover;

}

/* Position relative Keeps the background image located in 
.portfolio-items-two to take up the full width of the div
as well as keeping the image fixed with a no-repeat effect. */


.portfolio-items-two{
  position:relative;
  cursor:pointer;
  
}

/* This positions the headline and paragraph text on top
of the image but underneith the overlay pattern (found in the html) */


.items-two {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 138px;

}

/* Styles for Heading and pharagraph text */

.items-two h2 {
  position: relative;
  font-family: 'Open Sans',verdana,
  sans-seif;
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  padding-bottom: 12px;

}

.items-two p {
 font-family: 'Halant',georgia,serif;
  color:white;
  position:relative;
   
}

a {
  text-decoration:none;
}

/* Start of third section, bottom row */

/* Positioning heading and paragraph information */

.items-three, .items-four {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-top:138px;


}

.items-three {
  background-image: 
  url(http://i60.tinypic.com/33dw7pv.jpg);
  width:100%;
  height:400px;
  background-position:center;
  background-size:cover;
  top: 400px;
  


}


/* Styling of heading and paragraph tags */

.item-three h2 {
  position: relative;
  font-family: 'Open Sans',verdana,
  sans-seif;
  color: red;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  padding-bottom: 12px; 
}

.items-three p {
  font-family: 'Halant',georgia,serif;
  color:white;
}

/* Start of Fourth image section */

.items-four h2 {
  position: relative;
  font-family: 'Open Sans',verdana,
  sans-seif;
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  padding-bottom: 12px;

}

.items-four p {
  font-family: 'Halant',georgia,serif;
  color:white;
  position:relative;
}



/* Fourth Portfolio Image */

.items-four {
  background-image: 
  url(http://i60.tinypic.com/5pqwoz.jpg);
  width:100%;
  height:400px;
  background-position:center;
  background-size:cover;
  top: 400px;

}

/* Work Banner/Contact - Placed above Portfolio Images */

.banner {
  background-color:#fff;
  padding: 80px;
  width:100%;
  max-width:100%;
}


.contact-info li {
  display:inline-block;
  padding-left: 97px;
  max-width:100%;
  
 
}

.contact-info h5 {
  font-family:'Open Sans',Helvetica,sans-serif;
  font-weight:300;
  color:black;
  line-height:20px;
  font-size:14px;
}

.contact-info p {
  font-size: 14px;
  font-family:'Halant',georgia,serif;
}

.contact-info a {
  color:#a99484;
}

.view-more {
  padding:20px;
  background-color:white;
}
.view-more h5 {
  text-align: center;
  color:#a99484;
}

.view-more a {
  color:#a99484;
}

/* About Info */

.about, .about-info {
  background-color:#111;
  


}

.about-info {
  margin-left:30px;
    padding: 80px 80px;
    margin-top: 55px;
}


.about-info h2 {
  color:white;
  margin-bottom: 30px;
  font-family:'Halant',georgia,serif;
  font-size:30px;
  font-weight:300;
  line-height:1.2em;
  opacity:0.7;
 
}

.about-info p {
  color:white;
  font-family:'Open Sans',helvetica,sans-serif;
  font-weight:300;
  line-height:24px; 
  margin-bottom:30px;
}

/* Addition of a horizontle line */
.press > hr {
  margin-top:30px;
  border:0px;
  border-top:5px solid #a99484;
  width:16%;
  margin-left:1px;

}

/* press list items */
.type h5 {
  margin-bottom:5px;
  
}
.list-one li {
  color:white;
  line-height:22px;
  font-size:14px;
  font-weight:300;
}

.type {
  color:white;
   font-size:14px;
  padding-bottom:0px;
}


